{% extends 'base.html' %}
{% block content %}
    <a href="{{url_for('telefones_novo', contato_id=contato.id)}}">Cadastrar Telefone</a>
    <h1>Telefones do contato {{contato.nome}} </h1>
    {% for telefone in contato.telefones %}
        <p>
            Número: {{telefone.numero_telefone}}
            Categoria: {{telefone.categoria}}<br>
            <a href="{{url_for('telefones_editar', contato_id=contato.id, id=telefone.id)}}">Editar Telefone</a>
            <form method="POST" action="{{url_for('telefones_exibir', contato_id=contato.id, id=telefone.id)}}?_method=DELETE">
                <button>X</button>
        </p>
    {% endfor %}
{% endblock %}