<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Contatos</title>
</head>
<body>
    <header class="header" style="background-color: #004c8c; height:70px;"></header>
    <div class="container">
        {% extends 'base.html' %}
        {% block content %}
        <div class="title" style="text-align: center;"><h1>Cadastrar Telefone</h1></div>
        <div class="form-group">
            <form method="POST" action="{{url_for('telefones_index', contato_id=contato.id)}}">
                Número:<input class="form-control" type="text" name='numero_telefone'><br>
                Categoria:<input class="form-control" type="text" name='categoria'><br>
                <button class="btn btn-secondary" type="submit">Cadastrar</button>
            </form>
        </div>
        {% endblock %}
    </div>
</body>
</html>